<a href="https://colab.research.google.com/github/ErnestoCash/ASAP/blob/main/%F0%9F%90%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#While pandas is pre-installed in Google Colab,
#you can ensure you have the latest version
#by running the following command in a cell

#####!pip install pandas --upgrade#########

#----->You can skip this step if you're okay with the pre-installed version of pandas.

In [2]:
#import the pandas library with the following Python code
import pandas as pd

In [3]:
#creating a dataframe
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 34, 29, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']}

In [5]:
#To view the DataFrame you've created, simply type df in a new cell and run it.
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [6]:
#To access and print a specific column, such as the 'Age' column, use the following code in a new cell
print(df['Age'])

0    28
1    34
2    29
3    32
Name: Age, dtype: int64

In [7]:
#To filter and display rows where the age is greater than 30, use:
print(df[df['Age'] > 30])

    Name  Age    City
1   Anna   34   Paris
3  Linda   32  London